<h1>Login</h1>
 <%= form_tag '/login' do%>
    <% if @user&.errors != nil %>
      <h3>The following errors prevented the user from logging in:</h3>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li> 
        <% end %>
      </ul>
    <% end %>
    <%= label_tag :username%>
    <%= text_field_tag :username%>
    <%= label_tag :password%>
    <%= password_field_tag :password%>
    <%= submit_tag "Login"%>
<%end%>

<p>Don't have an account?</p> <%=button_to "Sign up", '/users/new', method: :get%> 
