<% @post = Post.find(comment.post_id) %>

<div class="card box has-background-white-ter pb-1" id="comment-<%=comment.id%>">

  <div class="card-content pb-1">

    <div class="media">

      <div class="media-left">
        <figure class="image is-32x32">
          <%= image_tag(comment.user.profile_picture, class: "is-rounded") %>
        </figure>
      </div>

      <div class="media-content">
        <% @commenter = User.find(comment.user_id) %>
        <p class="title is-6"><%= @commenter.name %></p>
      </div>
    </div>

    <div class="content comment-message">
      <p class="has-text-dark"><%= comment.message %></p>
      <time class="has-text-grey"><%=time_ago_in_words(comment.updated_at)%> ago</time>
    </div>

    <footer class="card-footer">
      <% if current_user == @commenter %>
        <% if editable?(comment) %>
          <%= link_to '<i class="fas fa-edit"></i>'.html_safe, post_path(@post) + "/comments/#{comment.id}/edit",
          class: "card-footer-item editbutton" %>
        <% end %>
        <%= link_to '<i class="fas fa-trash-alt" aria-hidden="true"></i>'.html_safe, post_path(@post) + "/comments/#{comment.id}",
        class: "card-footer-item deleter",
        remote: true,
        method: :delete
        %>
      <% end %>
    </footer>

  </div>

</div>