<center>

  <body>

    <div id="posts" style="font-weight: bold; font-size:30px;">
      <ul>
        <% @test_posts.each do |post| %>
        <%= post.content %>
        <%= post.created_at.to_s(:time) %>

        <div id="comment_form">
        <%= form_with(model: @signup, local: true) do |form| %>
          <%= form.text_field :content %>
        <%= form.submit "Comment" %>
      <% end %>
    </div>

    <div id="comments" style="font-weight: bold; font-size:15px;">
        <% @comments.each do |comment| %>
        <ul>
          <%= comment.users_id %>
          <%= comment.posts_id %>
          <%= comment.content %>
          <%= comment.created_at.to_s(:time) %>
        </ul>  
      <% end %>
    </div>

      </ul>
      <% end %>
    </div>

  </body>
</center>

