<center>
  <h1>Went to see Spiderman</h1> 
   <div class="top" id="content_section">
           <ul>

    <% @comments.each do |comment| %>
      <li>
      <%= comment.users_id %>
        <%= comment.content %>
        <%= comment.created_at.to_s(:time) %>
      </li>
    <% end %>
  </ul>
        </div>  
    </div>

<body>

<%= form_with(model: @signup, local: true) do |form| %>
  <br>
  <%= form.label :content, "Comment:" %>
  <%= form.text_field :content %>
  <br>
  <%= form.submit "Submit Comment" %>
<% end %>


</body>

       
  
</center>

