<%# redundant page %>

<%= link_to root_path do %>
  Home
<% end %>

<div>
  <p class="post"><%= @post.message %>

  <br>Posted by: <%= User.find(@post.user_id).username %>
  </p>
</div>

<br>

<% @comments.each do |comment| %>
    <p class="comments"><%= comment.body %>
    <br>Posted by: <%= User.find(comment.user_id).username %>
    </p>
<% end %>

<%= render partial: 'comments/form', locals: { post: @post } %>
