<body>
  <div id="posts" style="font-weight: bold; font-size:15px;">
  <% @test_posts.each do |post| %>
  </br>
  User: <%= User.find(post.users_id).name %>
  </br>
  Status: <%= post.content %> 
  </br>
  Time: <%= post.created_at.to_s(:time) %>

  <div id="upload_pic">
    <br>
    <%= form_with model: @picture_post, local: true do |form| %>
      <%= form.label "What's on your mind?" %><br>
      <%= form.text_area :content %><br>
      <%= form.file_field :images, multiple: true %><br>
      <%= form.submit %>
    <% end %>
  </div>

  <div id="comment_form">
    <%= form_with(model: @signup, local: true) do |form| %>
    <%= form.text_field :content %>
    <%= form.submit "Comment" %>
    <% end %>
  </div>
  <hr>
  </br>

  <% @comments.each do |comment| %>
    <% if comment.posts_id == post.id%>
      <%= User.find(comment.users_id).name %>: <%= comment.content %> (<%= comment.created_at.to_s(:time) %>)
      </br>
      <% elsif comment.posts_id == post.id %>
      <%= comment.content %>
      <%= comment.created_at.to_s(:time) %>
      <%= User.find(comment.users_id).name %>
    <% end %>
    
  <% end %>
      <hr>  
      </br>
<% end %>

</body>



















