<center>
  <h1>Went to see Spiderman</h1> 
   <div class="top" id="content_section">
           <ul>
    <% @comments.each do |comment| %>
      <li>
      <%= p User.find(comment.users_id).name %>
      <%= User.find(comment.users_id).name %>:
        <%= comment.content %>
        <%= comment.created_at.to_s(:time) %>
      </li>
    <% end %>
  </ul>
        </div>  
    </div>

    <div class="wrapper">
        <div class="bottom">
            <%= form_with scope: :content, url: '/comments', local: true do |form| %>
            <div class="form-group">
                <%= form.text_field :Comments %>
                <%= form.submit :Comments%>
            </div>
            <% end %>
        </div>
       
  
</center>

