<h1> Acebook </h1>

<body> Please enter details to sign up:


<%# <%= form_with url: "/posts" do |form| %>
<%= form_with @signup do |form| %>
  <br>
  <%= form.label :query, "Name:" %>
  <%= form.text_field :query %>
  <br>
  <br>
  <%= form.label :query, "Email:" %>
  <%= form.text_field :query %>
  <br>
  <br>
  <%= form.label :query, "Password:" %>
  <%= form.text_field :query %>
  <br>
  <br>
  <%= form.submit "Sign Up" %>
<% end %>


</body>
