<h1> Acebook </h1>

<br>
<% flash.each do |type, msg| %>
  <div style="color: red">
    <%= msg %>
  </div>
<% end %>

<br>

<body> Please enter details to sign up:

<%= form_with(model: @signup, local: true) do |form| %>
  <br>
  <%= form.label :name, "Name:" %>
  <%= form.text_field :name %>
  <br>
  <br>
  <%= form.label :email, "Email:" %>
  <%= form.text_field :email %>
  <br>
  <br>
  <%= form.label :password, "Password:" %>
  <%= form.text_field :password %>
  <br>
  <br>
  <%= form.submit "Sign Up" %>
<% end %>


</body>
