<div class="container text-start signup_form mt-2">
<%= form_with model: @user, local: true do |form| %>

<%= form.label :first_name %>
<%= form.text_field :first_name, class: "form-control", placeholder: "Enter your first name", required: true %>

<%= form.label :last_name %>
<%= form.text_field :last_name, class: "form-control", placeholder: "Enter your last name", required: true %>

<%= form.label :email %>
<%= form.text_field :email, class: "form-control", placeholder: "Enter your email", required: true %>

<%= form.label :password %>
<%= form.password_field :password, class: "form-control", placeholder: "Enter a password", required: true %>

<%= form.label :profile_picture %>
<br>
<div class="fileUpload ace-btn ace-btn-tall">
  <span>Upload</span>
  <%= form.file_field :avatar, :class => "new-post-file-uploader"%>
</div>
<div class="float-end">
<%= form.check_box :terms, class: "form-control", :class => "form-check-input" %>
<%= form.label :terms, "Please accept our T&Cs" %>
</div>
<br>
<br>

<%= form.submit "Sign Up!", :class => "ace-btn ace-btn-tall block"  %>

<% end %>
</div>