<div class="login-and-welcome-container">
  <div class="login-and-welcome-box">
    <div class="login-and-welcome-elements-display">
      <h1 class="login-header">Sign up</h1>

      <%= render partial: 'posts/flashes' %>
      <br>
      <div class="login-username-and-password-fields">
        <%= form_for @user, :html => { :class => "login-username-password-form" } do |f| %>

          <div class="login-user-pass-tags">
            <%= f.label :username %>
            <%= f.text_field :username, :required => true, class: "login-text-boxes" %>
          </div>

          <div class="login-user-pass-tags">
            <%= f.label :password %>
            <%= f.password_field :password, :required => true, class: "login-text-boxes" %>
          </div>

          <div class="profile-image-tag-and-fields">
            <%= f.label "Profile Image" %>
            <%= f.file_field :avatar, accept: 'image/png, image/gif, image/jpeg, image/jpg' %><br>
          </div>
          <br>

          <%= submit_tag "Create User", class: "login-page-buttons" %>

        <% end %>
      </div>

    </div>
  </div>
</div>

<!-- left this here so that if the code for uploading a profile picture doesn't work we can still view the old code,
this is the code from the feature/upload-profile-image branch :) -->

<!--<h1>Sign Up</h1>-->
<%#= form_for @user do |f|%>
<!--  <%#= f.label :username%><br>-->
<!--  <%#= f.text_field :username, :required => true %><br>-->
<!--  <%#= f.label :password%><br>-->
<!--  <%#= f.password_field :password, :required => true%><br>-->
<%#= f.label "Profile Image" %>
<!--  <%#= f.file_field :avatar, accept:'image/png, image/gif, image/jpeg, image/jpg' %><br>-->
<%#= f.submit %>
<%#end%>
