<div class="mt-5 row align-items-start">
  <div class="col-5">
    <div class="container d-flex justify-content-center align-items-center" >
        <div class="card" id="profile-card">
            <div class="user text-center">
                <div class="profile mt-3"> <%= image_tag(Current.user.photo.url, :style =>  'width: 80px;', :class => "rounded-circle") if Current.user.photo? %> </div>
            </div>
            <div class="mt-3 text-center">
                <h4 class="mb-0"><%=Current.user.first_name %> <%= Current.user.last_name %></h4> <span class="text-muted d-block mb-2"><%= format_birthday(Current.user.date_of_birth) %></span> 
                <div class="d-flex justify-content-center align-items-center mt-4 px-4">
                    <div class="stats">
                        <h6 class="mb-0">Friends</h6> <span>0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-4 bg-white">
  <%= render 'shared/posts' %>
  </div>
</div>