<div class="container has-text-centered" >
  <div>
    <% if @user == current_user %>
      <% plus_icon = link_to '', edit_user_path, class: "fas fa-plus" %>
      <% css_class = 'circular--landscape-profile-editable' %>
    <% else %>
      <% plus_icon = '' %>
      <% css_class = 'circular--landscape-profile' %>
    <% end %>
    <figure class=<%= css_class %> >
      <%= image_tag(@user.profile_picture) %>
    </figure>
    <%= plus_icon %>
  </div>
  <div class="media-content">
    <p class="title is-4"><%= @user.name %></p>
  </div>
</div>

<h2>
<% if @user.name == current_user.name %>
  Your Friends
  <% else %>
  <%= @user.name%>'s Friends</h2>
<% end %>
</h2>

<% my_friends(@user.id).each do |friend| %>
  <%@friend = User.find(friend.friend_id)%>
  <p> <%= link_to @friend.name, user_path(@friend) %> </p>
<% end %>
  

<div class="container" id="posts" >
  <% if @user == current_user %>
    <%= render partial: 'posts/new' %>
  <% end %>

  <div id="posts-top" class="pb-1" ></div>

  <%= render @user.posts.newest_first %>
    <div id="post-end"></div>
</div>
