<h1>this is the sign up page </h1>

<%= form_with model: @user,local: true, url: '/sign_up' do |form| %>
  <div class="mb-3">
    <%=form.label :email%>
    <%=form.text_field :email, class: "form-control"%>
  </div>
  <div class="mb-3">
    <%=form.label :password%>
    <%=form.password_field :password, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%=form.label :password_confirmation%>
    <%=form.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%=form.submit class: "btn btn-primary"%>
  </div>
<%end%>

