<% if Current.user != nil %>
  <% @num = 1 %>
  <% @posts.each do |post| %>
    <div class="d-flex flex-column card my-2">
      <%# POST HEADERS %>
      <div class="d-flex flex-row  px-3 pt-3" id=header1>
        <img src="<%= id2avatar(post.user_id) %>" width="50" height="50" class="rounded-circle">
        <div class="d-flex flex-column mx-2">
          <h5 class="card-title"><%= id2name(post.user_id) %></h5>
          <p class="text-muted post-card-muted"><%= time_ago_in_words(post.created_at) %> ago</p>
        </div>
      </div>
      <%# POST MESSAGE %>
      <div class="card-body px-3">
        <p class="card-text"><%= "#{post.message}" %></p>
      </div>
      <%# POST IMAGE %>
      <% if post.photo %>
        <img src="<%= post.photo %>" class="img-fluid" >
      <% end %>
      <%# LIKE AND COMMENT BUTTONS %>
      <div class="class-body post-buttons py-1">
        <% liked = Current.user.likes.find_by(post_id: post.id) %>
        <% if liked == nil %>
          <button class="like-button post-action-buttons" id="likeButton" data-post_id="<%=post.id%>" >
            <input type="hidden" id="getUserID" value=" <%= Current.user.id %>">
            <i class="bi bi-hand-thumbs-up-fill" id="likeButtonStyling"></i>
          </button>
        <% else %>
          <button class="like-button post-action-buttons-liked" id="likeButton" data-post_id="<%=post.id%>" >
            <input type="hidden" id="getUserID" value=" <%= Current.user.id %>">
            <i class="bi bi-hand-thumbs-up-fill" id="likeButtonStyling"></i>
          </button>
        <% end %>
        <div id="<%=post.id%>">
          <% like_count = 0 %>
          <% (@likes.where(post_id: post.id)).each do |obj| %>
            <% like_count += 1 %>
          <% end %>
          <%=like_count%>
        </div>
        <button class="post-action-buttons" type="button" data-bs-toggle="collapse" data-bs-target="#<%= "collapseComment#{@num}"%>" aria-expanded="false" aria-controls="<%= "collapseComment#{@num}"%>">
          <i class="bi bi-chat-right-fill"></i>
        </button>
      </div>
      <%# NEW COMMENT FORM %>
      <div class="collapse" id="<%= "collapseComment#{@num}"%>">
      <div class="card-body d-flex flex-row p-2" id="makeANewComment">
        <%= image_tag(Current.user.photo.url, :style =>  'width: 45px', :style =>  'height: 45px', :class => 'nav-avatar') if Current.user.photo? %>
        <div class="d-flex flex-column w-100 mx-1">
          <input type="hidden" id="getFirstName" value="<%= Current.user.first_name %>">
          <input type="hidden" id="getLastName" value="<%= Current.user.last_name %>">
          <input type="hidden" id="getPostId" value="<%= post.id %>">
          <input type="string" class="w-100 form-control" id="commentContent" name="<%= post.id %>" >
          <p class="m-0"><small class="text-muted">Press enter to comment</small></p>
        </div>
      </div>
      </div>
    <%# SHOW COMMENTS ON THIS POST %>
    <div class=<%="postDiv#{post.id}"%>>
      <% post.comments.reverse.each do |comment| %>
        <div class="card-body d-flex flex-row py-1 px-1" >
          <img src="<%= id2avatar(comment.user_id) %>" width="35" height="35" class="rounded-circle" id="avatar" >
          <div>
            <div>
              <p class="post-comment-display mx-2 p-2">
                <% find_user_id = comment.user_id %>
                <% find_user = User.find_by(id: find_user_id) %>
                <small class="fw-bold comment-title card-text"><%= "#{find_user[:first_name]} #{find_user[:last_name]}" %> </small>
                <small class="comment-content card-text"><%= comment.message %></small>
              </p>
              <small class="text-muted card-text"><%= time_ago_in_words(comment.created_at) %> ago</small>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>

  <% @num += 1 %>
<% end %>
<% end %>
<script type="text/javascript">
  //Dynamic likes
  
  const devEnv = (<%= Rails.env.production? %>) ? 'https://hidden-everglades-40298.herokuapp.com/' : 'http://localhost:3000/'

  document.querySelectorAll("#likeButton").forEach(element => {
  
  element.addEventListener("click", ()=>{
    if (element.className == "like-button post-action-buttons"){
      console.log("i've been clicked an unliked button")
  
      let likeData = {"like" : {"post_id": element.getAttribute("data-post_id") }}
      fetch(`${devEnv}likes`, {
      method: "POST",
      headers: {
      "Content-Type" : "application/json",
    },
    body: JSON.stringify(likeData)
    })
    .then(() => {
    element.className = "like-button post-action-buttons-liked";
    let idNeeded = element.getAttribute("data-post_id")
    let count = document.getElementById(idNeeded)
    newCount = parseInt(count.innerText)
    count.innerText = `${newCount += 1}`
  })
  }
    else if (element.className == "like-button post-action-buttons-liked") {
      console.log("ive clicked a liked button")
    let getUserID = document.getElementById("getUserID")
    let deleteData = {"like" : {"post_id": element.getAttribute("data-post_id"), "user_id" : getUserID.value }}
    fetch(`${devEnv}delete_like/`, {
      method: "DELETE",
      headers: {
      "Content-Type" : "application/json",
    },
    body: JSON.stringify(deleteData)
  }).then(() => {
    element.className = "like-button post-action-buttons"
    let count = document.getElementById(element.getAttribute("data-post_id"))
    newCount = parseInt(count.innerText)
    count.innerText = `${newCount -= 1}`
  })
  }
  })
  })
  
  //Dynamic comments
  
  let getFirstName = document.getElementById("getFirstName")
  let getLastName = document.getElementById("getLastName")
  let userName = `${getFirstName.value} ${getLastName.value}`
  
  
   document.querySelectorAll("#commentContent").forEach(element => {
  
   element.addEventListener("keypress", (e) => {
     if(e.key == "Enter"){
      let data = {"comment": {"post_id": element.name, "message": element.value}}
      
      fetch(`${devEnv}comments`, {
      method: "POST",
      headers: {
        "Content-Type" : "application/json",
      },
      body: JSON.stringify(data)
    })
    .then(() => {
    let div2 = document.createElement("Div")
    let img = document.getElementById("avatar")
    let cloneImg = img.cloneNode(true)
    let div3 = document.createElement("Div")
    let p = document.createElement("p")
    p.className = "post-comment-display mx-2 p-2"
    let nameDisplay = document.createElement("small")
    nameDisplay.className = "fw-bold comment-title"
    nameDisplay.innerText = userName
    let contentDisplay = document.createElement("small")
    contentDisplay.className = "comment-content"
    contentDisplay.innerText = element.value
    p.appendChild(nameDisplay)
    p.appendChild(contentDisplay)
    div3.appendChild(p)
    let emptyDiv = document.createElement('div')
    emptyDiv.appendChild(div3)
    div2.appendChild(emptyDiv)
    let card = document.createElement("div")
    card.className = "card-body d-flex flex-row py-1 px-1"
    card.appendChild(cloneImg)
    card.appendChild(div2)
    let blah = document.querySelector(`.postDiv${element.name}`)
    blah.prepend(card)
    })
    .then(() =>{
      element.value = ""
    })
  }
   })
  })
</script>
