<% @num = 1 %>
<% @posts.each do |post| %>
  <div class="d-flex flex-column card my-2" style="max-width: 500px;">
    <%# POST HEADERS %>
    <div class="d-flex flex-row  px-3 pt-3">
      <img src="<%= id2avatar(post.user_id) %>" width="50" height="50" class="rounded-circle">
      <div class="d-flex flex-column mx-2">
        <h5 class="card-title"><%= id2name(post.user_id) %></h5>
        <p class="text-muted post-card-muted"><%= time_ago_in_words(post.created_at) %> ago</p>
      </div>
    </div>
    <%# POST MESSAGE %>
    <div class="card-body px-3">
      <p class="card-text"><%= "#{post.message}" %></p>
    </div>
    <%# POST IMAGE %>
    <img src="<%= post.image_url %>" class="img-fluid" >
    <%# LIKE AND COMMENT BUTTONS %>
    <div class="class-body post-buttons py-1">
      <button class="like-button post-action-buttons">
        <i class="bi bi-hand-thumbs-up-fill"></i>
      </button>
      <button class="post-action-buttons" type="button" data-bs-toggle="collapse" data-bs-target="#<%= "collapseComment#{@num}"%>" aria-expanded="false" aria-controls="<%= "collapseComment#{@num}"%>">
        <i class="bi bi-chat-right-fill"></i>
      </button>
    </div>
    <%# NEW COMMENT DROPDOWN %>
    <div class="collapse" id="<%= "collapseComment#{@num}"%>">
      <div class="card-body d-flex flex-row p-2">
        <img src="<%= id2avatar(post.user_id) %>" width="35" height="35" class="rounded-circle">
        <div class="d-flex flex-column w-100 mx-1">
          <input type="string" class="w-100 form-control">
          <p class="m-0"><small class="text-muted">Press enter to comment</small></p>
        </div>
      </div>
      <div class="class-body">
        <div class="card-body d-flex flex-row py-2 px-2">
          <img src="<%= id2avatar(post.user_id) %>" width="35" height="35" class="rounded-circle">
          <p class="post-comment-display mx-2 p-2">
            <small class="fw-bold comment-title">Comment User</small>
            <small class="comment-content">This is a test comment</small>
          </p>
        </div>
        <div class="card-body d-flex flex-row py-1 px-2">
          <img src="<%= id2avatar(post.user_id) %>" width="35" height="35" class="rounded-circle">
          <p class="post-comment-display mx-2 p-2">
            <small class="fw-bold comment-title">Comment User</small>
            <small class="comment-content">This is a test comment</small>
          </p>
        </div>
        <div class="card-body d-flex flex-row py-1 px-2">
          <img src="<%= id2avatar(post.user_id) %>" width="35" height="35" class="rounded-circle">
          <p class="post-comment-display mx-2 p-2">
            <small class="fw-bold comment-title">Comment User</small>
            <small class="comment-content">This is a test comment</small>
          </p>
        </div>
      </div>
    </div>
    </div>
    <% @num += 1 %>
  <% end %>
  <script>
    var likeButton = document.querySelector('.like-button');
    
    
    likeButton.addEventListener('click', function () {
      console.log('Like button clicked.');
    });
  </script>
