<h1>Welcome to Acebook</h1>

<%= "You are signed in as #{current_user.email} (#{current_user.username})" if current_user%>


<%if current_user == nil %>
<button id='sign-up-button'>
<%= link_to 'Sign Up',
new_user_registration_path%>
</button>

<button>
<%= link_to 'Log In',
new_user_session_path%>
</button>

<% elsif current_user %>
  <button>
  <%= link_to 'Log out',
  destroy_user_session_path,
  method: :delete%>
  </button>

  <div>
  <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar %>
  <% end %>
  </div>
  

<%end%>
  