<main>
  <div class="row">
    <div class="col-3">
      <% if Current.user.nil? %>
      <% else %>
       <%= render 'users/profile_panel' %>
      <% end %>
    </div>

    <div class="col-4">
    <% if Current.user.nil? %>
      <%= render 'shared/welcome_page' %>
    <% else %>
      <%= render 'shared/post_form' %>
      <%= render 'shared/posts' %>
    <% end %>
    </div>

    <div class="col-3">
      <% if Current.user.nil? %>
      <% else %>
       <%= render 'users/friend_panel' %>
      <% end %>
    </div>


  </div>
</main>
