<%= form_with model: [ Post ], local: false, id: "post-form" do |form| %>
  <div id="post-input-div">
    <%= form.text_area :message, id: "post-message", placeholder: 'Ramble on...', required: true%>
    <%= form.file_field :image, id: "post-image" %>
  </div>
  <%= form.hidden_field :user_id, :value => current_user.id if current_user %>

  <%= form.submit "Submit", id: "post-submit" %>
<% end %>
