<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message, placeholder: "test" %>
  

  <%= form.label :image %>
  <%= form.file_field :image %>
  
  <div id="submit_button" class="actions">
  <%= form.submit "Submit" %>
  </div>
<% end %>