
<%= form_for @post do |form| %>

  <%= form.label :message %>
  <%= form.text_field :message %>
  
  <%= form.label :image %>
  <%= form.file_field :image %>
  
  <div id="submit-button" class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>