<div id="<%= post.id %>" class="single-post">
  <div class="username_and_avatar">
    <a href=<%= "/posts/#{post.user_id}/posts" %>>
      <img class="avatar" height="30px" width="30px" src="https://mir-s3-cdn-cf.behance.net/user/230/d2e2ae163095399.60c76948a2fc7.png">
    </a>
    <a id="username" href=<%= "/posts/#{post.user_id}/posts" %>> <%= post.user.username %></a>
  </div>

  <a id="post_message" href=<%= "/posts/#{post.id}" %>><%= post.message %>
    <div class="post-link"></div>
  </a><br>
    
  <% if post.image.attached? %>
    <div class="image-container">
      <img id="post-image" class="post-image" src="<%= (url_for(post.image)) %>">
    </div>
  <% end %>

  <h4 class="likes-count"><%= number_of_likes(post.likes.length)%> </h4>

  <h4 class="comment-count"><%= show_comments_with_correct_ordinal(post.comments.size) %></h4>

  <div class="post_created_date">
    <a id="post_created_date">Posted <%=  show_time(post.created_at) %></a>
  </div>
</div>