<h1>Welcome to 8Rock</h1>

<h2>feed</h2>
<section style="border:solid 3px orange">
<h2>Create post</h2>
<%= form_for :post, url: posts_path do |f| %>
  <p>
  <%= f.label :post_content %> <br>
  <%= f.text_area :post_content %>
  </p>
  <p>
  <%= f.submit %>
  </p>
<% end %>
</section>

<section style="border:solid 2px green">
<h2>Add comment</h2>
<%= form_for :comment, url: comments_path do |f| %>
  <p>
  <%= f.label :comment %> <br>
  <%= f.text_area :comment %><br>
  <%= f.label :post_id %> <br>
  <%= f.text_field :post_id %>
  </p>
  <p>
  <%= f.submit %>
  </p>
<% end %>
</section>


<% @posts.each do |post| %>
<section style="border:solid 1px red">
<h3>Post</h3>
<h5>Post id:<%= post.id %></h5>
<h5>Time ago:<%= get_time_ago(post.created_at) %></h5>
<h3>Post contents:<%= post.post_content %></h3>

<div>
<h4>Comments</h4>
<%
@comment = Comment.where({post_id: post.id})
@comment.each do |comment|
%>
<%= comment.comment %><br />
<% end %>
</div>
</section>
<% end %>


<%# 
--> <h1>Welcome to 8Rock</h1>
<% @posts.each do |post| %>
  <%# <p><%= post.message %>
  <%# </p> %>
<%# <% end %>

<%# <%= link_to new_post_path do %>
  <%# New post
<% end %> 


