<h1>Hello, welcome to your feed</h1>

Feed of everyone's posts <br> <br>
<ul>
<% @posts.each do |post| %>
<div class="posts-index-img d-inline">
  <% if post.user.avatar.attached? %>
   <%= image_tag(post.user.avatar.variant(
     resize_to_limit: [100, 100])
     )%>
      <% else %>
  <img class="avatar-index rounded-circle mx-auto" src="<%= "/images/default_user.png " %>" alt="Userimage">
    <% end %>
</div>
<li><p><%= post.message %></p></li>
<% end %>
</ul>


<%= link_to new_post_path do %>
  New post
<% end %>

<%= button_to 'Logout', logout_path, method: :delete %>