<h1>Hello, welcome to your feed</h1>

<div class="posts-index-img d-inline">
  <% if Current.user.avatar.attached? %>
   <%= image_tag(Current.user.avatar) %>
      <% else %>
  <img class="avatar-index rounded-circle mx-auto" src="<%= "/images/default_user.png " %>" alt="Userimage">
    <% end %>
</div>

Feed of everyone's posts <br> <br>
<ul>
<% @posts.each do |post| %>
  <li><p><%= post.message %></p></li>
<% end %>
</ul>

User Posts <br><br>
<ul>

<% @posts.each do |post| %>
<% if post.user_id == Current.user.id %>
  <li><p><%= post.message %></p></li>
<% end %>
<% end %>
</ul>


<%= link_to new_post_path do %>
  New post
<% end %>

<%= button_to 'Logout', logout_path, method: :delete %>