<%= render "form", post: @post%> <!--brings new form to index-->

  <% @posts.reverse.each do |post| %>
    <p><%= post.message %></p>
    <p>Created at: <%= post.created_at.strftime("%H:%M") %></p>
     <p>Created by: user <%= post.user_id %></p>
    <button><%= link_to "Edit", edit_post_path(post) %></button>
    <button><%= link_to "Delete", post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></button>

<%= render post.comments%>


    <h4>Add a comment:</h4>

<%= form_with model: [ post, post.comments.build ] do |form| %>
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content, id:"content", :rows=>1, :cols=>20 %>
   <%= form.number_field :user_id,
    value: current_user.id, type: :hidden %>
  </p>
  <p>
    <%= form.submit id:"create_comment"%>
  </p>
<% end %>
  <% end %>