<% @posts.each do |post| %>
  <p class="post"><%= post.message %>

  <br>Posted by: <%= User.find(post.user_id).username %>
  </p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>

<br>
<br>


<% if @user %>
<p> Hello, <%= @user.username %>!</p>

<% else %>
  <%= link_to new_user_path do %>
    Sign Up
  <% end %>
<% end %>
