<%= link_to new_post_path do %>
  New post
<% end %>

<% @posts.each do |post| %>
  <p><%= link_to post.message, post_path(post) %></p>
  <%= link_to "Edit post", edit_post_path(post) %>
  <%= link_to "Delete post", post_path(post),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
  <%= link_to "Add comment", post_path(post) %>
<% end %>
