

<% @posts.each do |post| %>
  <strong><%= " Posted by: #{User.find(post.user_id).firstname} #{User.find(post.user_id).lastname}" %></strong>
  <p><%= post.message %></p>
  <p><%= post.likes %> likes </p>
  <a href="/posts/<%= post.id %>/like">Like</a>

  <p><%= post.comments.length %> comments</p>
  <%= link_to "View", post_path(post) %><br>
<% end %>

<%= link_to "New post", new_post_path %>
