<h1>Welcome to 8book</h1>

<h2>feed</h2>

<section style="border:solid 5px purple">
  <h2>Create post</h2>

  <%= form_for :post, url: posts_path do |f| %>
    <p>
      <%= f.label :message %> <br>
      <%= f.text_area :message %>
    </p>

    <p>
      <%= f.submit %>
    </p>

    <% end %>
</section>

<% @posts.each do |post| %>
  <section style="border:solid 1px red">
    <h3>Post</h3>
    <h5>Post id: <%= post.id %></h5>
    <h5>Time: <%= get_time_ago(post.created_at) %> ago</h5>
    <h3>Post contents: <%= post.message %></h3>

  <%= form_for @like do |form| %>
    <%= form.hidden_field :post_id, :value => "#{post.id}" %>
    <%= form.hidden_field :user_id, :value => "#{session[:user_id]}" %>
    <%= form.submit "Like" %>
  <% end %>
  <%#session is dependant on sign in being implemented%>

  <p>Likes: <%= post.likes_count %></p>

  <div>
    <h4>Comments</h4>
      <% @comments = Comment.where({post_id: post.id})
      @comments.each do |comment_object| %>
        
        comment: <%= comment_object['comment'] %> 
        user_id: <%= comment_object.user_id %><br />
      
      <% end %>

      <section style="border:solid 5px pink">
      <h2>Add comment</h2>
      <%= form_for :comment, url: comments_path do |f| %>
        <p>
          <%= f.label :comment %> <br>
          <%= f.text_area :comment, required: true %><br>
          <%= f.hidden_field :post_id, required: true, value:"#{post.id}" %> 
          <%= f.hidden_field :user_id, required: true, value:"#{session[:user_id]}" %> 
          <%#session is dependant on sign in being implemented%>
        </p>
        <p>
          <%= f.submit %>
        </p>
      <% end %>
      </section>
    </div>
  </section>
<% end %>
