<h1>Hello, welcome to your feed</h1>

Feed of everyones posts <br> 
<ul>
<div>
  <% @posts.each do |post| %>
    <div class="posts-index-img d-inline">
      <% if post.user.avatar.attached? %>
        <%= image_tag(post.user.avatar.variant(
          resize_to_limit: [100, 100])
          )%>
      <% else %>
        <img class="avatar-index rounded-circle mx-auto" src="<%= "/images/default_user.png " %>" alt="Userimage">
      <% end %>
    </div>
    <%= post.user.first_name %>
    <%= post.user.last_name %>
    <div>
    <li><p><%= post.message %></p></li>
    <% if post.image.attached? %>
      <%= image_tag(post.image.variant(
        resize_to_limit: [200, 200])
        )%>
    <% end %>
</div>
  <% post.comments.map do |comment| %>
    <% if comment.user.avatar.attached? %>
    <%= image_tag(post.user.avatar.variant(
      resize_to_limit: [100, 100])
      )%>
  <% else %>
    <img class="avatar-index rounded-circle mx-auto" src="<%= "/images/default_user.png " %>" alt="Userimage">
  <% end %>
    <p><%= comment.user.first_name%> says <%= comment.content %></p>
  <% end %>
  <a href="comment?<%=post.id%>"> Create a new comment</a>
  <% end %>
  </div>
</ul>
<div>
<%= link_to new_post_path do %>
  New post
<% end %>
<%= button_to 'Logout', logout_path, method: :delete %>
</div>