<h1>AceBook Posts</h1>
<h2> This is who is logged in: <%= User.find_by(id: session[:current_user_id]).name %></h2>
<image src="<%=(url_for(User.find_by(id: session[:current_user_id]).profile_pic))%>">

<% @all_posts.reverse.each do |post| %>
  <p><%= post.content %> 
  Posted by
  <%= User.find_by(id: post.users_id).name %> </p>
<% end %>

<p><%= link_to "Create new post", {:action => 'new' } %></p>