<%= stylesheet_link_tag "posts" %>

<% if @user %>
  Logged in as: <%= @user.email%>

  <%= button_to "Logout", logout_path, method: :delete %>
<%end%>

<div id="posts">
<% @posts.reverse.each do |post| %>
  <p><%= post.message %> posted at <%= post.created_at %></p>
<% end %>
</div>

<div id="input-form">
<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit "Submit" %>
<% end %>
</div>