<h1>AceBook Posts</h1>
<h2> Profile pic below </h2>
<% if @user.profile_pic.attached? %>
<image src="<%= (url_for(@user.profile_pic)) %>">
<% end %>
<h2> This is who is logged in: <%= User.find_by(id: session[:current_user_id]).name %></h2>

<% @all_posts.reverse.each do |post| %>
  <p><%= post.content %> 
  Posted by
  <%= User.find_by(id: post.users_id).name %> </p>
<% end %>

<p><%= link_to "Create new post", {:action => 'new' } %></p>