<% if current_user %>
  Hello, <%= current_user.username %>!.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Sign Up", signup_path %> or
  <%= link_to "Log In", login_path %>
<% end %>

<% @posts.each do |post| %>
  <p class="post"><%= post.message %>
  <br> Posted by: <%= User.find(post.user_id).username %>
  <button type="button">Like</button>
  <br> 0 Likes
</p>
<% end %>

<% if current_user %>
  <%= link_to new_post_path do %>
    New post
  <% end %>
<% end %>

<br>
<br>
