<h1>Knitter</h1>

<% if current_user %>
  Hello, <%= current_user.username %>!.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Sign Up", signup_path %> or
  <%= link_to "Log In", login_path %>
<% end %>

<% if current_user %>
  <%= link_to new_post_path do %>
    New post
  <% end %>
<% end %>


<% @posts.each do |post| %>

  <p class="post"><%= post.message %>

  <br>Posted by: <%= User.find(post.user_id).username %>
  </p>

  <button type="button" class="comments-toggle" id="<%= post.id %>">Unsolicited Advice</button>

  <div class="top-comments" id="top-comments-<%=post.id%>">
    <%= render post.comments.limit(2) %>
  </div>

  <div class="all-comments" id="all-comments-<%=post.id%>">
    <%= render post.comments %>
  </div>

  <% if current_user %>
    <div class="new-comment-form">
      <%= render partial: 'comments/form', locals: { post: post } %>
    </div>
  <% end %>
<% end %>
