<p id="notice"><%= notice %></p>
<form action='/logout' method='post'>
<input type="submit" value="Log out">
</form>

<h1>Posts</h1>

<% if @posts %>
  <% @posts.each do |post| %>
  <%= post.user.first_name %>
    <%= post.user.last_name %>
    <%= post.post_type %>
    <%= post.image %>
    <%= post.text %>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </tr>
  <% end %>
<% else %>
  <h1> No posts </h1>
<% end %>

<%= link_to 'New Post', new_post_path %>
