<div class="welcome">
  <h5>Welcome back <%= session[:first_name] %></h5>
</div>

<section class="new-post">
  <%= form_for :post, url: posts_path do |f| %>
    <%= f.text_area :message, rows:4, placeholder: "What's on your mind...", :class => "new-post-body" %>
    <div class="post coll-3">
      <div class="fileUpload ace-btn input-btn">
      <span>Attach Picture</span>
      <%= f.file_field :avatar, :class => "new-post-file-uploader"%>
      </div>
      <%= f.hidden_field :user_id, required: true, value:"#{session[:user_id]}" %> 
      <%= f.submit "Post", :class => "ace-btn post-btn" %>
    </div>
  <% end %>
</section>


<div class=> 
  <% @posts.each do |post| %>
    <div class="post-container">
      <div class="card">
        <div class="card-header text-right">
          <%= get_time_ago(post.created_at) %> ago, by
          <%= User.find(post.user_id).first_name %>
        </div>
        <img src="#" class="card-img-top d-none" alt="#">
        <div class="card-body pb-0">
          <div class="card-text text-start"><%= post.message %></div>
          <div><%= image_tag (post.avatar), :class => "post-img" if post.avatar.attached? %></div>
        </div>
        <div class="card-footer text-end bg-white border-0">
          <%= render partial: "like", locals: { post: post } %>
          <% if post.user_id == session[:user_id] %>
            <%= link_to "edit", edit_post_path(post) %>
          <% end %>
        </div>
      </div>

      <%= render partial: "post_comments", locals: { post: post } %>

<!--       <section>
        <div class="mt-0 pt-0 pb-0 text-end">
          <%= form_for :comment, url: comments_path do |f| %>
            <%= f.text_area :comment, required: true, maxlength:500, placeholder: "Comment on this..", class: "comment-body" %><br>
            <%= f.hidden_field :post_id, required: true, value:"#{post.id}" %> 
            <%= f.hidden_field :user_id, required: true, value:"#{session[:user_id]}" %> 
            <%= f.submit "Add Comment", :class => "ace-btn"%>
          <% end %>
        </div>
      </section> -->

    </div>
  <% end %>
</div>

<%== pagy_nav(@pagy) %>
