<li><%= link_to "Feed", home_path %>
<li><%= link_to "Create Post", new_post_path %>

<h1>Welcome to 8Rock</h1>

<h2>feed</h2>

<% @posts.reverse.each do |post| %>
<h3><%= post.message %></h3>
<% end %>
<%# 
--> <h1>Welcome to 8Rock</h1>
<% @posts.each do |post| %>
  <%# <p><%= post.message %>
  <%# </p> %>
<%# <% end %>

<%# <%= link_to new_post_path do %>
  <%# New post
<% end %> 
