<div class="xwelcome row mt-2 mb-0">
<h5>Welcome back <%= session[:first_name] %></h5>

</div>

<section class="new-post">
  <%= form_for :post, url: posts_path do |f| %>
    <%= f.text_area :message, rows:4, placeholder: "What's on your mind...", :class => "new-post-body" %>
    <div class="post coll-3">
      <%= f.file_field :avatar, :class => "new-post-file-uploader"%>
      <%= f.submit "Post", :class => "save-post btn btn-sm col-12" %>
    </div>
  <% end %>
</section>


<div class=> 
  <% @posts.each do |post| %>
    <div class="post-container">
      <div class="card">
        <div class="card-header text-right">
          <%= get_time_ago(post.created_at) %> ago
        </div>
        <img src="#" class="card-img-top d-none" alt="#">
        <div class="card-body pb-0">
          <div class="card-text text-start"><%= post.message %></div>
          <div><%= image_tag (post.avatar), :class => "post-img" if post.avatar.attached? %></div>
        </div>
        <div class="card-footer text-end bg-white border-0">
          <%= render partial: "like", locals: { post: post } %>
        </div>
      </div>
      <%= render partial: "post_comments", locals: { post: post } %>
    </div>
  <% end %>
</div>

<%== pagy_nav(@pagy) %>
