<center>
<%# Page Headings, welcome message %>
<h1>AceBook Posts</h1>
<h4> What's on your mind, <%= User.find_by(id: session[:current_user_id]).name %>?</h4>
<br>

<%# Search fields %>

<%= form_tag "/posts", method: "GET" do %>
  <%= text_field_tag :search_by_content, nil, placeholder: 'Find a post' %>
  <%= submit_tag "Search" %>
<% end %>
<br>
<%= form_tag "/posts", method: "GET" do %>
  <%= text_field_tag :search_by_user, nil, placeholder: 'Find a friend' %>
  <%= submit_tag "Search" %>
<% end %>

<%# Link to create a new post, or visit your profile %>

<p><%= link_to "Create new post", {:action => 'new' } %></p>
<p><%= link_to "Go to your profile", profile_path %></p>
<h2><image src="<%=(url_for(User.find_by(id: session[:current_user_id]).profile_pic))%>"
style="width:80px;height:80px;"> Hi <%= User.find_by(id: session[:current_user_id]).name %>, see your feed below</h2>



<%# Confirmation message that user has created/not created a new post%>

<% flash.each do |type, msg| %>
  <div style="color: darkred">
    <%= msg %>
  </div>
<% end %>

<%# Feed %>

<%# Displays all posts %>
<% @all_posts.reverse.each do |post| %>
  <image src="<%=(url_for(User.find_by(id: post.users_id).profile_pic))%>"
  style="width:40px;height:40px;"> 
  <%= User.find_by(id: post.users_id).name %><br><br>
     <%= post.created_at.to_s(:time) %><br><br>
  <%= post.content %> <br><br>
  <% if post.post_photo.attached? %>
  <image src="<%=(url_for(post.post_photo))%>"
  style="width:200px;height:200px;"><br><br>
  <% end %>


<%# Like/Comment buttons %>
  <%= link_to "Add a comment", comments_path(post_id: post.id) %><br><br>
  <p>
  
  <image src="<%=(url_for(User.find_by(id: post.users_id).profile_pic))%>"
  style="width:40px;height:40px;"> 


  <% pre_like = post.likes.find { |like| like.user_id == session[:current_user_id]} %>

  <% if pre_like %>
    <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete, class: "btn btn-primary" %>
  <% else %>
    <%= button_to 'Like', post_likes_path(post), method: :post, class: "btn btn-primary" %>
  <% end %>

<%# Like/Comment counters %>
  <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p> 
 

  <%# Comments section%>
  <h4>Comments Section (<%= post.comments.count %>)</h4>
  <% post.comments.reverse.each do |comment| %><br> 
    <image src="<%=(url_for(User.find_by(id: comment.user_id).profile_pic))%>"
  style="width:40px;height:40px;"> 
     <%= User.find_by(id: comment.user_id).name %>:
     <%= comment.content %>
     <%= comment.created_at.to_s(:time) %>
  <% end %>
           <hr>
<% end %>

</center>


