<%= stylesheet_link_tag "posts" %>

<div id="posts">
<% @posts.reverse.each do |post| %>
  <p><%= post.message %> posted at <%= post.created_at %></p>

  <div id="like-section">
  <%= button_to 'Like', post_likes_path(post), method: :post %>
  <p id="like-count"><%= post.likes.count%><%= (post.likes.count) == 1 ? 'Like' : 'Likes' %></p>
  </div>
  
  


<% end %>
</div>



<div id="input-form">
<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit "Submit" %>
<% end %>
</div>