
<h2> Welcome to Acebook, <%= User.find_by(id: session[:current_user_id]).name %>.</h2>


<% Post.all.reverse.each do |post| %>
  <p><%= post.content %></p> 
  <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p> 
  <% pre_like = post.likes.find { |like| like.user_id == session[:current_user_id]} %>
  <% if pre_like %>
    <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete, class: "btn btn-primary" %>
  <% else %>
    <%= button_to 'Like', post_likes_path(post), method: :post, class: "btn btn-primary" %>
  <% end %>
  Posted by
  <%= User.find_by(id: post.users_id).name %> </p>
<% end %>

<p><%= link_to "Create new post", {:action => 'new' } %></p>

 </body>
</html>
