<div class="new_post_form">
  <%= form_for @post do |form| %>
    <%= form.label :message %>
    <%= form.text_field :message, :required => true %>
    <%= form.file_field :image, accept:'image/png, image/gif, image/jpeg' %>

    <%= form.submit "Submit" %>
  <% end %>
</div>

<% if flash.any? %>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
    <br>
  <% end %>
<% end %>