<p id="notice"><%= notice %></p>

<p>
  <strong>Date created:</strong>
  <%= @post.date_created %>
</p>

<p>
  <strong>Date updated:</strong>
  <%= @post.date_updated %>
</p>

<p>
  <strong>Type:</strong>
  <%= @post.type %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
