<%# All placeholder stuff, need to replace this with logic for likes and comments %>

<section class="post">
  <p>Message: <%= @post.message %></p>

  <% if logged_in? %>
    <% if @post.liked?(current_user) %>
      <%= button_to "Like", like_path(@post), method: "put", disabled: true %>
    <% else %>
      <%= button_to "Like", like_path(@post), method: "put" %>
    <% end %>
  <% end %>

  <section class="comments">
    <h2>Comments</h2>
    <%= render partial: 'comments/form' %>

    <%= render partial: 'posts/comment', collection: @post.comments.reverse %>

  </section>
</section>