<%# All placeholder stuff, need to replace this with logic for likes and comments %>

<section class="post">
  <p>Message: </p>
  <p> <%= @post.message %></p>

  <%= render partial: 'posts/like' %>

  <section class="comments">
    <h2>Comments</h2>
    <%= render partial: 'comments/form' %>
    <h3>Comments (<%= @post.comments.size %>)</h3>
    <%= render partial: 'posts/comment', collection: @post.comments.reverse %>
  </section>
</section>