<%# All placeholder stuff, need to replace this with logic for likes and comments %>

<section class="individual-post">

  <div class="username_and_avatar">
    <img class="avatar" height="30px" width="30px" src="https://mir-s3-cdn-cf.behance.net/user/230/d2e2ae163095399.60c76948a2fc7.png">
    <a id="username" href=<%= "/posts/#{@post.user_id}/posts" %>> <%= @post.user.username %></a>
  </div>

  <p id="post_message"><%= @post.message %></p>

  <%= render partial: 'posts/like' %>

  <section class="comments">
    <h2>Comments</h2>
    <%= render partial: 'comments/form' %>
    <h3>Comments (<%= @post.comments.size %>)</h3>
    <%= render partial: 'posts/comment', collection: @post.comments.reverse %>
  </section>
</section>