<section class="container">
  <div class="posts">

    <% if flash.any? %>
      <% flash.each do |type, msg| %>
        <div>
          <%= msg %>
        </div>
      <% end %>
    <% end %>

    <% @username.each do |name| %>
    <h1>Posts by: <%= name.username %></h1>
    <% end %>

    <%= render partial: 'posts/new' %>

    <% @users_posts.each do |post| %>
      <div id="<%= post.id %>" class="post">
        <div class="username_and_avatar">
          <img class="avatar" height="30px" width="30px" src="https://mir-s3-cdn-cf.behance.net/user/230/d2e2ae163095399.60c76948a2fc7.png">
          <a id="username" href=<%= "/posts/#{post.user_id}/posts" %>> <%= post.user.username %></a>
        </div>
        <a id="post_message" href=<%= "/posts/#{post.id}" %>><%= post.message %></a><br>
        <a id="post_created_date">Posted at: <%= post.created_at %></a>
      </div>
    <% end %>
  </div>
</section>