<p id="notice"><%= notice %></p>

<h1>Post Images</h1>

    <% @post_images.each do |post_image| %>
        <p>
        <strong>Title:</strong>
        <%= post_image.title %>
        </p>
        <p>
        <strong>Caption:</strong>
        <%= post_image.content %>
        </p>
        <p>
        <strong>Timestamp:</strong>
        <%= post_image.created_at.strftime("%A %d %B %Y, %I:%M%p").freeze %>
        </p>

        <% if post_image.comments %>
        <p>
        <strong>Number of comments:</strong>
        <%= post_image.comments.count %>
        </p>
        <% end %>
        
        <% if post_image.image.attached? %>
        <strong>Image:</strong>
          <p><%= image_tag post_image.image %></p>
        <% end %>
        <p><%= link_to 'Show', post_image %></p>
        <p><%= link_to 'Edit', edit_post_image_path(post_image) %></p>
        <p><%= link_to 'Destroy', post_image, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>

<br>

<%= link_to 'New Post Image', new_post_image_path %>
