<p id="notice"><%= notice %></p>

<h1>Post Images</h1>

    <% @post_images.each do |post_image| %>
      <div>
        <p>
        <strong>Title:</strong>
        <%= post_image.title %>
        </p>
        <p>
        <strong>Caption:</strong>
        <%= post_image.content %>
        </p>
        <p>
        <strong>Timestamp:</strong>
        <%= post_image.created_at.strftime("%A %d %B %Y, %I:%M%p").freeze %>
        </p>

        <% if post_image.comments %>
        <p>
        <strong>Number of comments:</strong>
        <%= post_image.comments.count %>
        </p>
        <% end %>

        <div id="like-section">
          <% pre_like = post_image.likes.find { |like| like.user_id == Current.user.id} %>
          <% if pre_like %>
            <%= button_to 'Unlike', post_image_like_path(post_image, pre_like), method: :delete %>
          <% else %>
            <%= button_to 'Like', post_image_likes_path(post_image), method: :post_image %>
          <% end %>
            <p id="like-count"><%= post_image.likes.count%><%= (post_image.likes.count) == 1 ? 'Like' : 'Likes' %></p>
        </div>
        
        <% if post_image.image.attached? %>
        <strong>Image:</strong>
          <p><%= image_tag post_image.image %></p>
        <% end %>
        <p><%= link_to 'Show', post_image %></p>
        <p><%= link_to 'Edit', edit_post_image_path(post_image) %></p>
        <p><%= link_to 'Destroy', post_image, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
    <% end %>

<br>

<%= link_to 'New Post Image', new_post_image_path %>
