<p id="notice"><%= notice %></p>

<h1>Post Images</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_images.each do |post_image| %>
      <tr>
        <td><%= post_image.title %></td>
        <td><%= post_image.content %></td>
        <% if post_image.image.attached? %>
          <td><%= image_tag post_image.image %></td>
        <% end %>
        <td><%= link_to 'Show', post_image %></td>
        <td><%= link_to 'Edit', edit_post_image_path(post_image) %></td>
        <td><%= link_to 'Destroy', post_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post Image', new_post_image_path %>
