<p id="notice"><%= notice %></p>

<p>
  <%=image_tag(@post_image.user.image, height: '100', width: '100')%>
</p>

<p>
  <%= @post_image.user.email %>
</p> 

<p>
  <strong>Title:</strong>
  <%= @post_image.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @post_image.content %>
</p>

<p>
  <% if @post_image.image.attached? %>
    <%= image_tag @post_image.image %>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_image_path(@post_image) %> |
<%= link_to 'Back', post_images_path %>

<h2>Comments</h2>
<% @post_image.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.user.email %>
  </p>
  <p>
      <%=image_tag(comment.user.image, height: '50', width: '50')%>
  </p>

    <p>
    <strong>Timestamp:</strong>
    <%= comment.created_at.strftime("%A %d %B %Y, %I:%M%p").freeze %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p>
  <%= link_to 'Destroy Comment', [comment.post_image, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with model: [ @post_image, @post_image.comments.build ] do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
