<section class="navbar">
  <a href="/posts"><%= image_tag "acebook-light-mode.png", class: "navbar-logo-image", alt: "logo" %></a>
  
    <% if logged_in? %>
      <% if cookies[:theme] == "light" %>
        <%= link_to "go dark", root_path(theme: "dark") %>
      <% else %>
        <%= link_to "go light", root_path(theme: "light") %>
      <% end %>
      
      <a id="username" href=<%= "/posts/#{current_user.id}/posts" %>> <%= current_user.username %></a>

      <a class="navbar-user-profile-image" href=<%= "/posts/#{current_user.id}/posts" %> >
        <% if current_user.avatar.attached? %>
          <img class="avatar" src="<%=(url_for(current_user.avatar))%>">
        <% else %>
          <img class="avatar" src="https://mir-s3-cdn-cf.behance.net/user/230/d2e2ae163095399.60c76948a2fc7.png">
        <% end %>
      </a>

      <a id="sign-out"<%= link_to "Sign out", '/logout', method: :delete %> </a>

  
    <% end %>
    </section>

