<!DOCTYPE html>

<html >
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style>
     body {height: 100vh !important;}
     .hero-foot {padding: 2rem 12rem 5rem 12rem !important;}
     #sign-up {width: 30rem !important;}
     .box {box-shadow: 3px 3px 5px 6px #ccc;}
    </style>
   
  </head>

  <body class="has-background-light">
    <div class="container">
      <% flash.each do |key, value| %>

        <div class="is-<%= key %> notification is-light has-text-bold alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>





      <% if logged_in?%>
          Logged in as <%= @current_user.name %>
          <%= link_to "Log out", logout_path, method: :delete %>
      <% else %>
        <%root_path%>
      <% end %>
    

    <%= yield %>
  </body>
</html>
