<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= turbo_include_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <%= javascript_include_tag 'application' %>
  </head>
  <body>
  <div class = "container">
    <nav class="text-right">
     <%= link_to "8BOOK", posts_url, class: "navbar-logo" %>
      <% link_to "New Post", new_post_url, class: "navbar-link" %>
      
      <% if session[:user_id] %>
      <%= link_to "Log Out", logout_path, class: "ace-btn ace-btn-tall"%> 

      <% else %> 
      <%= link_to "Log In", sign_in_path, class: "ace-btn ace-btn-tall"%>
      <%= link_to "Sign up", root_path, class: "ace-btn ace-btn-tall" %>
      <% end %>
    </nav>

    <%= yield %>
  </div>
  </body>
</html>
